# release configuration
config:release
  compiler: gcc
  cflags: -Wall -Wextra -O2

# debug configuration
config:debug
  compiler: gcc
  cflags: -Wall -Wextra -g

# stasm
target: stasm/bin/stasm
  type: bin
  src: stasm/src/*.c
  inc: starch/inc stasm/inc util/inc stub/inc
  libs: starch/lib/libstarch.a stub/lib/libstub.a util/lib/libutil.a

# stasm/test/exprtest
target: stasm/test/exprtest
  type: bin
  src: stasm/test/exprtest.c stasm/src/tokenizer.c stasm/src/expr.c
  inc: stasm/inc util/inc
  libs: util/lib/libutil.a

# distasm
target: distasm/bin/distasm
  type: bin
  src: distasm/src/*.c
  inc: starch/inc stasm/inc util/inc stub/inc
  libs: starch/lib/libstarch.a stub/lib/libstub.a util/lib/libutil.a

# stem
target: stem/bin/stem
  type: bin
  src: stem/src/*.c
  inc: starch/inc stem/inc util/inc stub/inc
  libs: starch/lib/libstarch.a stub/lib/libstub.a util/lib/libutil.a

# stem/test/memtest
target: stem/test/memtest
  type: bin
  src: stem/test/memtest.c
  inc: starch/inc stem/inc stem/src util/inc
  libs: util/lib/libutil.a

# starch
target: starch/lib/libstarch.a
  type: lib
  src: starch/src/*.c
  inc: starch/inc

# stub
target:stub/lib/libstub.a
  type: lib
  src: stub/src/*.c
  inc: stub/inc util/inc

# util
target: util/lib/libutil.a
  type: lib
  src: util/src/*.c
  inc: util/inc

# util/test/utf8test
target: util/test/utf8test
  type: bin
  src: util/test/utf8test.c
  inc: util/inc
  libs: util/lib/libutil.a

# util/test/smaptest
target: util/test/smaptest
  type: bin
  src: util/test/smaptest.c
  inc: util/src util/inc
  libs: util/lib/libutil.a

# util/test/littest
target: util/test/littest
  type: bin
  src: util/test/littest.c
  inc: util/inc
  libs: util/lib/libutil.a
